Load Dataset

In [2]:
import pandas as pd
path = r"C:/Users/Malathi M/OneDrive/Documents/MDTE25/capstone project/Project 3/youtube_ad_revenue_dataset.csv"
df=pd.read_csv(path)
df

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,NaN,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,NaN,38466.837135,27.305703,517587,Tech,TV,CA,253.842824

EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              122400 non-null  object
 1   date                  122400 non-null  object
 2   views                 122400 non-null  int64
 3   likes                 116283 non-null  float64
 4   comments              116288 non-null  float64
 5   watch_time_minutes    116295 non-null  float64
 6   video_length_minutes  122400 non-null  float64
 7   subscribers           122400 non-null  int64
 8   category              122400 non-null  object
 9   device                122400 non-null  object
 10  country               122400 non-null  object
 11  ad_revenue_usd        122400 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 11.2+ MB

In [4]:
df.describe()

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,ad_revenue_usd
count,122400.000000,116283.000000,116288.000000,116295.000000,122400.000000,122400.000000,122400.000000
mean,9999.856283,1099.633618,274.396636,37543.827721,16.014165,502191.719902,252.727210
std,99.881260,519.424089,129.741739,12987.724246,8.083790,288397.470103,61.957052
min,9521.000000,195.000000,48.000000,14659.105562,2.000142,1005.000000,126.590603
25%,9933.000000,650.000000,162.000000,26366.320569,9.004695,252507.500000,199.902018
50%,10000.000000,1103.000000,274.000000,37531.990337,16.005906,503465.500000,252.749699
75%,10067.000000,1547.000000,387.000000,48777.782090,23.021260,752192.000000,305.597518
max,10468.000000,2061.000000,515.000000,61557.670089,29.999799,999997.000000,382.768254

In [5]:
df.shape

(122400, 12)

In [6]:
df.drop_duplicates()

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,NaN,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,NaN,38466.837135,27.305703,517587,Tech,TV,CA,253.842824

In [7]:
df.isnull().sum()

video_id                   0
date                       0
views                      0
likes                   6117
comments                6112
watch_time_minutes      6105
video_length_minutes       0
subscribers                0
category                   0
device                     0
country                    0
ad_revenue_usd             0
dtype: int64

Data cleaning

In [8]:
df['comments']=df['comments'].fillna(0)
df['likes']=df['likes'].fillna(0)
df = df[df['ad_revenue_usd'] >= 0]

In [9]:
df['watch_time_minutes']=df['watch_time_minutes'].fillna(df['watch_time_minutes'].median())

In [10]:
df.isnull().sum()

video_id                0
date                    0
views                   0
likes                   0
comments                0
watch_time_minutes      0
video_length_minutes    0
subscribers             0
category                0
device                  0
country                 0
ad_revenue_usd          0
dtype: int64

Feature Engineering

In [11]:
import numpy as np
df['engagement_rate']=(df['likes']+df['comments'])/df['views'].replace(0,np.nan)

In [12]:
df['watch_time_minutes']=df['watch_time_minutes']/df['views'].replace(0,np.nan)
df['date']=pd.to_datetime(df['date'])

In [13]:
df['month']=df['date'].dt.month
df['is_weekend']=df['date'].dt.dayofweek.apply(lambda x: 1 if x in [5,6] else 0)

In [14]:
df['category'].unique()

array(['Entertainment', 'Gaming', 'Education', 'Music', 'Tech',
       'Lifestyle'], dtype=object)

In [15]:
encode={'Education':0, 'Tech':1, 'Music':2, 'Entertainment':3, 'Gaming':4, 'Lifestyle':5}
df['category']=df['category'].map(encode)

In [16]:
df['device'].unique()

array(['TV', 'Tablet', 'Mobile', 'Desktop'], dtype=object)

In [17]:
encode={'TV':0,'Desktop':1, 'Tablet':2, 'Mobile':3}
df['device']=df['device'].map(encode)

In [18]:
df['country'].unique()

array(['IN', 'CA', 'UK', 'US', 'DE', 'AU'], dtype=object)

In [19]:
encode={'CA':0, 'DE':1, 'IN':2, 'AU':3, 'UK':4, 'US':5}
df['country']=df['country'].map(encode)

In [20]:
df

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate,month,is_weekend
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,2.666789,2.862137,228086,3,0,2,203.178237,0.155093,9,0
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,1.518393,23.738069,736015,4,2,0,140.880508,0.098632,9,1
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,5.678187,26.200634,240534,0,0,0,360.134008,0.214519,11,0
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,3.122834,11.770340,434482,3,3,4,224.638261,0.142814,1,0
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,1.584151,6.635854,42030,0,3,0,165.514388,0.236121,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,4.270345,25.490195,210818,0,2,5,280.986396,0.184715,12,1
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,5.683620,16.229133,878860,2,1,4,354.612981,0.174961,7,1
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,0.0,2.683327,23.822365,576756,1,2,0,203.643106,0.068180,6,0
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,5.563221,7.753099,585138,2,3,4,351.525811,0.168164,12,1
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,0.0,3.873410,27.305703,517587,1,0,0,253.842824,0.077535,6,0

In [21]:
x=df.drop(columns=['ad_revenue_usd','video_id','date','device','country'])
y=df['ad_revenue_usd']

Model Building

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

standard scalar

In [32]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

linear regression

In [24]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

MAE,MSE,RMSE,R2

In [25]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=mse**0.5
r2=r2_score(y_test,y_pred)
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'R2: {r2}')

MAE: 5.013156917634882
MSE: 211.76964616103754
RMSE: 14.552307245280302
R2: 0.9447715639168447

Ridge

In [26]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=1.0)
ridge.fit(x_train,y_train)
y_pred_ridge=ridge.predict(x_test)
mae_ridge=mean_absolute_error(y_test,y_pred_ridge)
mse_ridge=mean_squared_error(y_test,y_pred_ridge)
rmse_ridge=mse_ridge**0.5
r2_ridge=r2_score(y_test,y_pred_ridge)
print(f'Ridge MAE: {mae_ridge}')
print(f'Ridge MSE: {mse_ridge}')
print(f'Ridge RMSE: {rmse_ridge}')
print(f'Ridge R2: {r2_ridge}')

Ridge MAE: 5.0131687777363485
Ridge MSE: 211.76960396097715
Ridge RMSE: 14.552305795336254
Ridge R2: 0.9447715749224037

Lasso

In [27]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.1)
lasso.fit(x_train,y_train)
y_pred_lasso=lasso.predict(x_test)
mae_lasso=mean_absolute_error(y_test,y_pred_lasso)
mse_lasso=mean_squared_error(y_test,y_pred_lasso)
rmse_lasso=mse_lasso**0.5
r2_lasso=r2_score(y_test,y_pred_lasso)
print(f'Lasso MAE:{mae_lasso}')
print(f'Lasso MSE: {mse_lasso}')
print(f'Lasso RMSE: {rmse_lasso}')
print(f'Lasso R2: {r2_lasso}')

Lasso MAE:5.059156379073059
Lasso MSE: 211.76079709168684
Lasso RMSE: 14.55200319858702
Lasso R2: 0.9447738717086831

GradientBoostingRegession

In [28]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gbr.fit(x_train,y_train)
y_pred_gbr=gbr.predict(x_test)
mae_gbr=mean_absolute_error(y_test,y_pred_gbr)
mse_gbr=mean_squared_error(y_test,y_pred_gbr)
rmse_gbr=mse_gbr**0.5
r2_gbr=r2_score(y_test,y_pred_gbr)
print(f'GBR MAE: {mae_gbr}')
print(f'GBR MSE: {mse_gbr}')
print(f'GBR RMSE: {rmse_gbr}')
print(f'GBR R2: {r2_gbr}')

GBR MAE: 3.974684541297472
GBR MSE: 199.89070573371168
GBR RMSE: 14.138270959834928
GBR R2: 0.947869530570797

Pickle

In [33]:
import pickle
with open('scaler.pkl','wb') as f:
  pickle.dump(scaler,f)
with open('linear_model.pkl','wb')as f:
  pickle.dump(lr,f)
with open('ridge_model.pkl','wb') as f:
  pickle.dump(ridge,f)
with open('lasso_model.pkl','wb') as f:
  pickle.dump(lasso,f)
with open('gbr_model.pkl','wb') as f:
  pickle.dump(gbr,f)

In [34]:
x

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,engagement_rate,month,is_weekend
0,9936,1221.0,320.0,2.666789,2.862137,228086,3,0.155093,9,0
1,10017,642.0,346.0,1.518393,23.738069,736015,4,0.098632,9,1
2,10097,1979.0,187.0,5.678187,26.200634,240534,0,0.214519,11,0
3,10034,1191.0,242.0,3.122834,11.770340,434482,3,0.142814,1,0
4,9889,1858.0,477.0,1.584151,6.635854,42030,0,0.236121,4,0
...,...,...,...,...,...,...,...,...,...,...
122395,9853,1673.0,147.0,4.270345,25.490195,210818,0,0.184715,12,1
122396,10128,1709.0,63.0,5.683620,16.229133,878860,2,0.174961,7,1
122397,10267,700.0,0.0,2.683327,23.822365,576756,1,0.068180,6,0
122398,10240,1616.0,106.0,5.563221,7.753099,585138,2,0.168164,12,1
122399,9931,770.0,0.0,3.873410,27.305703,517587,1,0.077535,6,0

In [31]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   views                 122400 non-null  int64
 1   likes                 122400 non-null  float64
 2   comments              122400 non-null  float64
 3   watch_time_minutes    122400 non-null  float64
 4   video_length_minutes  122400 non-null  float64
 5   subscribers           122400 non-null  int64
 6   category              122400 non-null  int64
 7   engagement_rate       122400 non-null  float64
 8   month                 122400 non-null  int32
 9   is_weekend            122400 non-null  int64
dtypes: float64(5), int32(1), int64(4)
memory usage: 8.9 MB

| Package                      | Purpose                                                                          |
| ---------------------------- | -------------------------------------------------------------------------------- |
| **streamlit**                | To create web apps for ML models                                                 |
| **pickle5**                  | For saving/loading trained ML models (optional, built-in `pickle` usually works) |
| **pandas**                   | For data manipulation and DataFrames                                             |
| **numpy**                    | For numerical calculations                                                       |
| **google-api-python-client** | To connect with YouTube or other Google APIs                                     |
| **requests**                 | To make HTTP requests (e.g., fetch API data)                                     |
| **isodate**                  | To parse ISO 8601 date/time formats (used in YouTube duration parsing)           |
| **streamlit-option-menu**    | For creating a sidebar or navigation menu in Streamlit                           |